/Project_Module_1.md
.vscode
/assets/images/sprites/illustrator
/assets/images/backgrounds/Blue\ Nebula
/assets/images/backgrounds/Green\ Nebula
/assets/images/backgrounds/Purple\ Nebula
/assets/images/backgrounds/Starfields
/assets/images/screens.sprite.png
/assets/images/general.sprite.png
/assets/images/potenciadores.png
/assets/images/general2.sprite.png
/assets/images/elements/Background.ai


# Local Netlify folder
.netlify
