:root{
    --white: #FFFFFF;
    --grey: #b3b3b3;
}

*{
    box-sizing: border-box;
    font-family: "DotGothic16", sans-serif;
    color: var(--white);
}

body{
    background-color: #353535;
    background-image: url("/assets/images/backgrounds/bg-main-dom.png");
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: none;
}

.puntero{
    position: absolute;
    height: 2rem;
    width: 2rem;
    z-index: 5;
}

/* .game-info{
    display: flex;
    position: absolute;
    top: 0;
    z-index: 3;
}

.game-info p {
    margin-left: 10px;
    margin-right: 10px;
} */

.extra{
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: 400px;
    height: 800px;
    padding: 1%;
}

.game-info, .game-instructions{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: rgba(255, 255, 255, 0.089);
    padding: 5%;
    margin-bottom: 5%;
    border-radius: 15px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.game-info h1, .game-instructions h1 {
    text-align: center;
    margin: 3px;
}

canvas {
    border: 1px solid black;
}

#score {
    font-size: 3rem;
    margin: 0px;
    font-weight: 800;
    color: yellow;
}

#time{
    font-size: 2rem;
    margin: 0px;
    font-weight: 800;
}

canvas{
    border-radius: 15px;
}

/* Borde de referencia para mantener una cierta separación */
.framework, .inner-framework{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 400px;
    height: 800px;
}

.inner-framework{
    position: absolute;
    height: calc(100% - 80px);
    width: calc(100% - 80px);
    border: 1px solid rgba(255, 0, 0, 0.4);
    border-style: dotted;
    z-index: 2;
}