name: Deploy Game
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Repo Checkout
        uses: actions/checkout@v6

      - name: Setup NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: "npm"

      - name: Install Netlify CLI
        run: npm install -g netlify-cli

      - name: Netlify Deploy
        uses: netlify deploy --prod